@import 'styles/all';

.noDataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100% !important;
  text-align: center;
  min-height: 200px;

  .noDataText {
    @include h2();
  }
}
