@import 'styles/all';

.container {
  margin-bottom: max(vw(12px), 20px);
}

.labelContent {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 8px;

  .starLabel {
    color: $brandPrimary500;
  }

  label {
    @include p2();

    display: block;
    color: $brandDarkColor;
  }
}

.linkOption {
  position: relative;
}

.input {
  position: relative;
  width: 100%;

  &.focused {
    position: relative;
  }

  &.fileNotEmpty {
    label {
      opacity: 0;
    }
  }

  .fileName {
    position: absolute;
    font-family: $body-font-poppins-reg;
  }

  .suffix {
    position: absolute;
    top: 22%;
    inset-inline-end: 2%;
    cursor: pointer;
    z-index: 1;
  }

  .prefix {
    position: absolute;
    top: 22%;
    inset-inline-start: 2%;
    z-index: 1;
  }

  input,
  textarea {
    flex: 10;
    width: 100%;
    height: 48px;
    padding: max(vw(16px), 16px);
    padding-inline: max(vw(10px), 10px);
    border-radius: max(vw(8px), 8px);

    text-decoration: none;
    position: relative;
    background-color: $brandLightColor;
    border: 1px solid $brandNeutral400;

    &::placeholder {
      @include p2();
      color: $brandNeutral600;
    }

    &.error {
      border: 1px solid $brandError900;
    }
  }

  input:focus-visible,
  textarea:focus-visible {
    outline: none;
  }

  input:disabled {
    @include p2();
    color: $brandNeutral600;
    background-color: transparent;
  }

  textarea {
    resize: none;
    min-height: max(vw(100px), 100px);
  }

  .inputStyleWithPrefix {
    padding-inline-start: max(vw(46px), 46px);
    @include mobile {
      padding-inline-start: max(vw(38px), 38px);
    }
  }

  .dateInput {
    position: relative;
    &::after {
      content: '';

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: rgba(128, 128, 128, 0.462);
    }
  }
}
