@import "styles/all";

.carouselWrapper {
    position: relative;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    padding: 1rem 2rem;

    :global(.slick-slide),
    :global(.slick-slide-active),
    .slide {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        border-radius: 1rem;
        gap: 15px;

        img {
            width: 304px;
            height: 325px;
            border-radius: 1rem;
            overflow: hidden;
            transition: transform 220ms cubic-bezier(.2, .9, .3, 1), all 220ms;
            box-shadow: -10px 8px 20px rgba(2, 6, 23, 0.45);
        }

        img:hover {
            transform: translateY(-8px) scale(1.01);
            box-shadow: -10px 18px 40px rgba(2, 6, 23, 0.65);
        }

        h2 {
            font-size: 24px;
            font-weight: 600;
            flex: 1;
            max-height: 115px;
            overflow: hidden;
            color: $brandBlack;

        }

        a {
            display: inline-flex;
            gap: 10px;
            font-size: 1.5em;
            text-decoration: none;
            border-radius: 8px;
            font-weight: 600;
            white-space: nowrap;
            transition: all 0.3s ease;

        }

        a:hover {
            transform: translateY(-2px);
            color: $BookyPrimaryColors;
        }
    }

    :global(.slick-track) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 45px;

        .slide {
            padding-left: 15px;
        }
    }


    .carouselContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

    }

    .arrowLeft,
    .arrowRight {
        background: transparent;
        border: none;
        cursor: pointer;
        color: $BookyPrimaryColors;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        transition: all 0.15s ease-in;

        svg {
            width: 3rem;
            height: 3rem;
        }
    }

    .arrowLeft:hover,
    .arrowRight:hover {
        color: $brandBlack;
    }

    .arrowLeft {
        left: -5em;
    }

    .arrowRight {
        right: -5rem;
    }

    .carousel {
        width: 100%;
    }

}


@include mobile {
    .carouselWrapper {
        max-width: 100%;

        :global(.slick-track) {
            gap: 15px;
        }

        .slide {
            gap: 10px;
            align-items: center;
            padding-left: 0px;

            h2 {
                text-align: center;
                font-size: 18px;
                max-height: 80px;
            }

            img {
                max-width: 220px;
            }

        }

        .arrowLeft,
        .arrowRight {


            svg {
                width: 2.2rem;
                height: 2.2rem;
            }
        }

        .arrowLeft {
            left: -5px;
        }

        .arrowRight {
            right: -5px;
        }
    }
}