@import 'styles/all';

@import 'styles/all';

.toggleContainer {
  display: flex;
  align-items: center;
  gap: max(vw(12px), 12px);
  padding-bottom: max(vw(16px), 16px);
  cursor: pointer;
}

.switch {
  position: relative;
  width: 20px;
  height: 20px;
  border: 2px solid $brandNeutral500;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;

  &.checked {
    background-color: $brandPrimary500;
  }
}

.toggleInput {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.checkIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggleLabel {
  @include p3-semiBold();
  color: $brandNeutral900;
}
