@import "styles/all";

.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    border-radius: 32px;
    font-size: 1.1rem;
    padding: 1.5rem 2rem;
    font-weight: 600;
    background-color: $BookyPrimaryColors;
    cursor: pointer;
    transition: all 0.2s ease-in;
    text-wrap: nowrap;

    &:hover {
        background-color: $brandLightDarkColor;
        transform: scale(1.01);
    }
}