@import 'styles/all';

.container {
  display: flex;
  flex-direction: column;
  gap: max(vw(16px), 16px);
  margin-bottom: max(vw(40px), 40px);

  .title {
    @include p2();
    color: $brandDarkColor;
  }

  .radioGroup {
    display: flex;
    gap: max(vw(32px), 32px);
  }

  .radioLabel {
    @include p2-semiBold();

    cursor: pointer;
    color: $brandDarkColor;
    position: relative;
    display: flex;
    align-items: center;
    padding-block: max(vw(10px), 10px);
  }

  .radioInput {
    display: none;
  }

  .radioCustom {
    width: 20px;
    height: 20px;
    border: 2px solid $brandDarkColor;
    border-radius: 50%;
    margin-inline-end: max(vw(10px), 10px);
    position: relative;
    transition: border-color 0.3s ease;
  }

  .radioInput:checked + .radioCustom {
    border-color: $brandPrimary500;
  }

  .radioInput:checked + .radioCustom::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: $brandPrimary500;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
