@import "styles/all";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 3rem;

    .Titles {
        display: flex;
        width: 100%;
        justify-content: space-around;

        h1 {
            font-size: 3rem;
            font-weight: 600;
            color: $brandBlack;

            span {
                color: $BookyDarkPrimary;
            }
        }
    }
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    padding: 6rem 2rem;
    align-items: center;
    justify-content: center;
}

@include mobile {
    .container {
        .Titles {
            h1 {
                font-size: 1.5rem;
            }
        }
    }

    .sliderContainer {
        padding: 6rem 0rem;
    }
}