@import "styles/all";

.CTAsBox {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-basis: 30%;
    gap: 8px;

    .CTAs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .logIn {
            background-color: $brandLightColor;
            color: $brandDarkColor;
            padding: 8px 12px;
            width: auto;
            height: 40px;
            gap: 10px;
            border-radius: 8px;
            border: none;
            font-weight: 600;

            &:hover {
                background-color: $brandGrayHoverColor;
                color: $paymobPrimaryColors ;
                transition: all 0.4s ease;

            }
        }

    }

    .language {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 40px;
        gap: 8px;

        span {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 8px 12px;


            h3 {
                font-size: 16px;
            }


            .arrow {
                transform: rotate(180deg);
            }

            &:hover .arrow {
                transform: rotate(0deg);
                transition: all 0.4s;
            }
        }
    }
}