@import "styles/all";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
    gap: 30px;

    .searchBox {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
        width: 50%;
        gap: 5em;

        @include tablet {
            width: 70%;
            gap: 2.5em;
        }

        @include mobile {
            width: 100%;
            flex-direction: column;
            gap: 1.2em;
        }

        div {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;

            @include mobile {
                flex-direction: column;
                width: 100%;
                gap: .8rem;
            }

            input {
                flex: 1;
                padding: .7rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                color: black;
                background: white;
                width: 100%;
            }

            button {
                padding: .5rem .7rem;
                background: $BookyPrimaryColors;
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                font-weight: 600;
                width: fit-content;

                @include mobile {
                    width: 100%;
                }

                &:hover {
                    background: $BookyDarkPrimary;
                }
            }
        }
    }



    .booksWrapper {
        width: 100%;
        display: block;
        padding: 5rem 2rem;

        .gridBooks {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;

            .card {
                display: flex;
                padding: .5rem;
                border-radius: 24px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
                transition: transform 0.2s ease;
                background: linear-gradient(135deg, #ffffff, #f7f7fa);

                &:hover {
                    transform: translateY(-4px);
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
        }
    }


    .loadMore {
        padding: 12px 20px;
        background: black;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}