@import "styles/all";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 2rem;
    gap: 30px;

    .booksWrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 250px 1fr;
        gap: 30px;
        align-items: flex-start;

        padding: 5rem 2rem;

        .searchBox {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);

            input {
                padding: .7rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                color: black;
                background: white;
            }

            button {
                padding: 10px;
                background: $BookyPrimaryColors;
                color: white;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                font-weight: 600;

                &:hover {
                    background: $BookyDarkPrimary;
                }
            }
        }

        .gridBooks {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 20px;

            .card {
                display: flex;
                background: white;
                padding: 10px;
                border-radius: 24px;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
                transition: transform 0.2s ease;

                &:hover {
                    transform: translateY(-4px);
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
            }
        }
    }

    .loadMore {
        padding: 12px 20px;
        background: black;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}