@import 'styles/all';

.container {
  margin-bottom: max(vw(12px), 20px);

  .phoneInputContainer {
    position: relative;

    &:focus-within {
      border: 0 !important;
    }
  }

  .flagDropdown {
    margin-inline: 8px;
    cursor: pointer;
  }

  .label {
    @include p2();
    display: block;
    color: $brandDarkColor;
    margin-bottom: max(vw(8px), 8px);
  }

  .phoneInput {
    padding-inline-start: max(vw(10px), 10px);
    text-decoration: none;
    position: relative;
    background-color: $brandLightColor;
    border: 1px solid $brandNeutral300;
    border-radius: max(vw(6px), 6px);
    overflow: hidden;

    :global {
      .PhoneInputCountrySelectArrow {
        width: 8px;
        height: 8px;
        margin-inline: max(vw(8px), 8px);
        opacity: 1;
      }

      .PhoneInputCountry {
        margin-inline: 0;
      }
    }

    input {
      padding: max(vw(16px), 16px);
      padding-inline: max(vw(10px), 10px);
      height: 48px;
      border: 0 !important;

      &::placeholder {
        @include p2();
        color: $brandNeutral600;
      }

      [dir='rtl'] & {
        direction: rtl;
        text-align: right;
      }
    }
  }

  input:focus-visible {
    outline: none;
  }

  .disabled input {
    @include p2();
    background-color: transparent;
    color: $brandNeutral600;
  }

  .suffix {
    position: absolute;
    top: 25%;
    inset-inline-end: 2%;
    cursor: pointer;
  }

  .errorBorder {
    border: 1px solid $brandPrimary500;
  }

  .error {
    @include p1();
    color: $brandError900;
  }
}
