@import "styles/all";

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5rem 3rem;

    .Titles {
        display: flex;
        width: 100%;
        justify-content: space-around;
        gap: 5rem;

        h1 {
            font-size: 4rem;
            font-weight: 600;
            color: $brandBlack;

            span {
                color: $BookyDarkPrimary;
            }
        }
    }

    .wrapper {
        display: flex;
        padding: 5rem 2rem;
        justify-content: center;
        width: 100%;
        gap: 3rem;
        flex-wrap: wrap;

        .leftCard {
            display: flex;
            gap: 3rem;

            .mainImg {
                width: 100%;
                border-radius: 24px;
                max-width: 450px;
            }

            .itemBox {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                max-width: 350px;

                .sacImg {
                    width: 350px;
                    border-radius: 24px;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: 3rem;

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 900;
                        color: #e76f51;
                    }

                    p {
                        font-size: 1.2rem;
                        color: $brandLightDarkColor;
                        line-height: 26.5px;
                    }
                }

                .learnMore {
                    padding: 1rem 2rem;
                    border-radius: 30px;
                    border: 1px solid $brandLightDarkColor;
                    background: white;
                    cursor: pointer;
                    transition: 0.2s;
                    color: #000;
                    align-self: flex-start;
                    font-size: 1rem;

                    &:hover {
                        background-color: $brandText;
                    }
                }
            }
        }

        .rightContent {
            display: flex;
            flex-direction: column;
            gap: 2rem;

            .smallItem {
                display: flex;
                align-items: center;
                gap: 2rem;

                h4 {
                    display: flex;
                    align-items: center;
                    gap: 0.3rem;
                    font-size: 2rem;
                    padding-bottom: 1rem;
                }

                p {
                    color: $brandLightDarkColor;
                    max-width: 350px;
                    font-size: 1.2rem;
                    line-height: 26.5px;
                }

                .iconCircle,
                .iconCirclePink,
                .iconCircleBlue {
                    width: 170px;
                    height: 170px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        border-radius: 50%;
                    }
                }

                .iconCircle {
                    background: #f2e9e4;
                }

                .iconCirclePink {
                    background: #fde4ea;
                }

                .iconCircleBlue {
                    background: #e3f1ff;
                }
            }
        }
    }
}



@include tablet {
    .container {
        flex-wrap: wrap;
        width: 100%;

        .Titles {
            justify-content: center;
            text-align: center;

            h1 {
                font-size: 3rem;
            }
        }

        .wrapper {
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;

            padding: 3rem 1rem;

            .leftCard {
                flex-direction: column;
                align-items: center;

                .mainImg {
                    max-width: 100%;
                }

                .itemBox {
                    max-width: 100%;

                    .sacImg {
                        width: 100%;
                    }
                }
            }

            .rightContent {
                width: 100%;

                .smallItem {
                    flex-direction: row;
                    justify-content: flex-start;

                    .iconCircle,
                    .iconCirclePink,
                    .iconCircleBlue {
                        width: 120px;
                        height: 120px;
                    }

                    h4 {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }
}

/* Mobile (max 768px) */
@include mobile {
    .container {
        padding: 3rem 1rem;
        align-items: flex-start;
        justify-content: center;

        .Titles {
            h1 {
                font-size: 2rem;
            }
        }

        .wrapper {
            padding: 2rem 0;

            .leftCard {
                gap: 1.5rem;

                .itemBox {
                    .content h3 {
                        font-size: 1.3rem;
                    }

                    .content p {
                        font-size: 1rem;
                    }
                }
            }

            .rightContent {
                .smallItem {
                    flex-direction: column;
                    justify-content: center;

                    .iconCircle,
                    .iconCirclePink,
                    .iconCircleBlue {
                        width: 110px;
                        height: 110px;
                    }



                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}