@import "styles/all";

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem 2rem;

    .logo {
        font-size: 3rem;
        font-weight: 600;
        color: black;

        span {
            color: $BookyDarkPrimary;
        }
    }

    .navLinks {
        display: flex;
        gap: 5rem;
        list-style: none;
        font-size: 1.3rem;

        li a {
            color: $brandLightDarkColor;
            text-decoration: none;
            font-weight: 700;
            transition: color 0.3s ease;

            &:hover {
                color: $BookyPrimaryColors;
            }
        }
    }

    .navSocial {
        display: flex;
        gap: 1rem;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            background-color: $BookyPrimaryColors;

            .icon {
                width: 30px;
                height: 30px;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}

.Drawer {
    :global(.ant-drawer-content-wrapper) {
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100vw !important;
        height: 100vh !important;
        animation: slideDown 0.5s ease forwards;
    }

    :global(.ant-drawer-content) {
        color: white !important;
        height: 100%;
    }

    .drawerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 2rem;
        position: relative;
    }

    .closeBtn {
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: transparent;
        border: none;
        color: black;
        cursor: pointer;
    }

    .navLinksMob {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        list-style: none;
        font-size: 1.3rem;
        font-weight: 700;

        li {
            text-align: center;
            cursor: pointer;
            transition: color 0.3s ease;

            &:hover {
                color: $BookyPrimaryColors;
            }
        }
    }

    .navSocialMob {
        display: flex;
        gap: 1rem;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 12px;
            background-color: $BookyPrimaryColors;

            .icon {
                width: 25px;
                height: 25px;
                color: #ffffff;
            }
        }
    }
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}