@import "styles/all";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    margin-left: 5rem;
}

.spinner {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 5px solid #00000025;
    border-top-color: $BookyPrimaryColors;
    will-change: transform;
}