@import 'styles/all';

.imageContainer {
  width: vw(353);
  height: vw(353);
  overflow: hidden;
  position: relative;
  padding: max(vw(12px), 12px);

  .imageLayout {
    width: vw(362);
    height: vw(353) * 0.7;
    background-color: $brandPrimary500;
    position: absolute;
    top: -2px;
    inset-inline-start: 0;
    z-index: -1;
  }

  img {
    width: 100%;
    height: 100%;
  }

  @include tablet {
    width: 320px;
    aspect-ratio: 1;
    height: auto;
  }
}

.title {
  @include h5-semiBold();
  color: $brandPrimary500;
  padding-inline-start: max(vw(12px), 12px);
}

.subtitle {
  @include p3();
  color: $brandPrimary500;
  padding-inline-start: max(vw(12px), 12px);
}
